---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Chris Otto's Links">
	<main>
		<h1>Find Chris Otto Online</h1>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

</style>
