.links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  max-width: 90vw;
  width: 400px;
}

.link {
  border: 2px solid #436A6E;
  border-radius: 8rem;
  color: #436A6E;
  display: block;
  font-size: 1.25rem;
  padding: .5rem;
  text-decoration: none;
}

.link:focus,
.link:hover {
  background: #436A6E;
  color: #fff;
}

:global(.stats) {
  display: block;
  font-size: 0.875rem;
}